header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img{
    width: 400px;
    height: auto;
}

i{
    color: #fff;
}

.header-icons{
    display: flex;
    gap: 15px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: #c47d79;
    }
}

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button{
    border: 1px solid #fff;
    padding: 8px 24px;
    border-radius: 4px;
    color: #fff;
    background: transparent;
}

.header-button:hover{
    border: 1px solid #c47d79;
    background-color: #c47d79;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

@media screen and (max-width: 768px){

    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 34px;
        }

    }

    .header-logo img{
        width: 160px;
        margin-top: 46px;
    }

    .header-button{
        display: none;
    }
}