.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}

.home{
    position: relative;
}

.home:before{
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #e8c8bb), url("../assets/micro.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
} 

.hero{
    color: #fff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }
}

.button-contact{
    padding: 14px 28px;
    color: #fff;
    background-color:#c47d79;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px) {
    .hero{
        min-height: 60vh;

        h1{
            font-size: 34px;
            padding: 0 14px;
            width: 100%;
        }

        p{
            font-size: 14px;
        }
    }
}

.about{
    background-color: #e8c8bb;
    overflow: hidden;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
    img{
        max-width: 570px;
    }
}

.about-content div{
    flex: 1;
}

.about-description{
    h2{
        font-size: 38px;
        margin-bottom: 24px;
    }

    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .about-content{
        flex-direction: column;
    }
}

.services{
    background-color: #fff;
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}

.services-content p{
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
}

.micropigmentations{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 44px 34px 44px;
}

.micropigmentation{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0,0,0, 0.45);

    overflow: hidden;

    img{
        width: 100%;
        max-width: 354px;
        transition: transform 0.2s;
    }
}

.micropigmentation img:hover{
    transform: scale(1.2);
    z-index: 1;
}

.micropigmentation-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: #fff;
    z-index: 99;
}

.micropigmentation-info button{
    color: #fff;
    background-color: #c47d79;
    padding: 4px 8px;
    border-radius: 4px;
    border: 0;
}

@media screen and (max-width: 768px) {
    .micropigmentations{
        flex-direction: column;
    }

    .micropigmentation img{
        max-width: 740px;
    }
}

